<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LDev5</title>
</head>
<body>
    <center>
        <img src="/static/lombokdev-hd.png" style="width: 70%; margin-top: 120px" />
        <h1 style="font-size: 16px;">Status: Old Way</h1>
        <hr style="height:2px; background-color:mediumspringgreen">
        <h1 style="font-size: 30px; color: red; margin-bottom: -70px; margin-left: 180px"><b>5</b></h1>
        <h1 style="font-size: 50px; color: red;"><b>Meetup</b></h1>
        <h1 style="font-size: 40px;">"Getting Started With Docker"</h1>
        <h1 style="font-size: 35px;">@by Darmawan Zulkifli</h1>
    </center>
</body>
</html>